In [2]:
import numpy as np
import pandas as pd

In [25]:
df_alpha = pd.read_pickle('data/return/alpha(rolling).pkl.zip')
df_MA = pd.read_pickle('data/factor/Moving Averages.pkl.zip')
df_momentum = pd.read_pickle('data/factor/Momentum.pkl.zip')
df_vol = pd.read_pickle('data/factor/Volatility.pkl.zip')
df_volume = pd.read_pickle('data/factor/Volume.pkl.zip')
df_overlap = pd.read_pickle('data/factor/Overlap.pkl.zip')
df_CRSP = pd.read_pickle('data/factor/CRSP factor.pkl.zip')
df_return_list = pd.read_csv("data/return list.csv")

In [57]:
df_alpha = pd.read_pickle('data/return/alpha(rolling).pkl.zip')

In [58]:
# df_ff.drop(['Mkt-RF','RF'], axis=1, inplace=True)
df_alpha['date'] = pd.to_datetime(df_alpha['date'])
df_ff['date'] = pd.to_datetime(df_ff['date'])
df_return['date'] = pd.to_datetime(df_return['date'])
df_return_list['date'] = pd.to_datetime(df_return_list['date'])
df_MA['date'] = pd.to_datetime(df_MA['date'])
df_momentum['date'] = pd.to_datetime(df_momentum['date'])
df_vol['date'] = pd.to_datetime(df_vol['date'])
df_volume['date'] = pd.to_datetime(df_volume['date'])
df_overlap['date'] = pd.to_datetime(df_overlap['date'])
df_CRSP['date'] = pd.to_datetime(df_CRSP['date'])

In [59]:
df_all = pd.merge(df_return_list, df_alpha, on=['date','Ticker'], how='left')
# df_all = pd.merge(df_all, df_ff, on = ['date','Ticker'], how='left')
df_all = pd.merge(df_all, df_MA, on = ['date','Ticker'], how='left')
df_all = pd.merge(df_all, df_momentum, on = ['date','Ticker'], how='left')
df_all = pd.merge(df_all, df_vol, on = ['date','Ticker'], how='left')
df_all = pd.merge(df_all, df_volume, on = ['date','Ticker'], how='left')
df_all = pd.merge(df_all, df_overlap, on = ['date','Ticker'], how='left')
df_all = pd.merge(df_all, df_CRSP, on = ['date','Ticker'], how='left')

In [54]:
df_all.isnull().sum().sum()

0

In [41]:
df_all['Ticker_code'] = df_all['Ticker'].astype('category').cat.codes
df_all['date_period'] = (df_all['date'] - min(df_all['date'])).dt.days + 1
df_all.sort_values('date', inplace=True)

In [55]:
df_all

,date,Ticker,alpha,SMA_5,SMA_10,SMA_30,WMA_5,WMA_10,WMA_30,TEMA_5,...,OProf,PFS_Score,PE,QUICK,RD_SALE,RDG,RD_P,SECUDEBT,ATG,LTDG
0,2019-01-02,AAL,0.808229,31.598,31.866,34.894000,31.886000,31.746909,33.584882,32.150556,...,0.110073,3.0,0.129648,-0.484585,0.0,0.0,0.0,1.056683,-0.004465,-0.098033
1,2019-01-03,AAL,0.613340,32.150,31.910,34.716000,32.180000,31.858545,33.429140,32.482373,...,0.110073,3.0,0.129648,-0.484585,0.0,0.0,0.0,1.056683,-0.004465,-0.098033
2,2019-01-04,AAL,0.474620,31.704,31.562,34.493000,31.483333,31.522182,33.128753,30.897046,...,0.110073,3.0,0.129648,-0.484585,0.0,0.0,0.0,1.056683,-0.004465,-0.098033
3,2019-01-07,AAL,0.692638,31.704,31.524,34.367000,31.595333,31.609091,32.970495,31.592573,...,0.110073,3.0,0.129648,-0.484585,0.0,0.0,0.0,1.056683,-0.004465,-0.098033
4,2019-01-08,AAL,0.246425,31.928,31.630,34.279000,32.010667,31.868364,32.879075,32.560530,...,0.110073,3.0,0.129648,-0.484585,0.0,0.0,0.0,1.056683,-0.004465,-0.098033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296883,2023-12-22,ZION,1.189267,43.394,42.015,37.678333,43.331333,42.927818,39.518000,43.441370,...,0.018626,6.0,0.164888,-0.796337,0.0,0.0,0.0,0.000000,0.013367,0.021772
296884,2023-12-26,ZION,0.683631,43.426,42.522,38.060000,43.533333,43.288727,39.925849,43.810022,...,0.018626,6.0,0.164888,-0.796337,0.0,0.0,0.0,0.000000,0.013367,0.021772
296885,2023-12-27,ZION,0.995680,43.794,43.147,38.458667,44.018000,43.717455,40.365849,44.569920,...,0.018626,6.0,0.164888,-0.796337,0.0,0.0,0.0,0.000000,0.013367,0.021772
296886,2023-12-28,ZION,1.078060,43.910,43.785,38.852000,44.256667,43.965273,40.756258,44.608735,...,0.018626,6.0,0.164888,-0.796337,0.0,0.0,0.0,0.000000,0.013367,0.021772
296887,2023-12-29,ZION,1.246365,44.334,44.069,39.161667,44.506667,44.124364,41.130968,44.690176,...,0.018626,6.0,0.164888,-0.796337,0.0,0.0,0.0,0.000000,0.013367,0.021772

In [ ]:
df_all.to_pickle('data/merged data7.pkl.zip')