In [1]:
import numpy as np
import pandas as pd
import os

# Stock List required

In [16]:
df_info = pd.read_csv('other/Stock List.csv')
ls_PERMNO = list(df_info['PERMNO'])
dict_PERMNO = dict(zip(ls_PERMNO, df_info['HTICK']))

# Concat all the factor files

In [17]:
df_factor_CRSP = pd.DataFrame()
for file in os.listdir("./factor/CRSP/"):
    # Factors by WRDS / Factors (Backtester) by WRDS
    if '0' not in file:
        df1 = pd.read_csv("./factor/CRSP/" + file)
        df1.query('PERMNO in @ls_PERMNO',inplace=True)
        df1 = df1[df1.columns[:3]]
        if len(df_factor_CRSP)>0:
            df_factor_CRSP = pd.merge(df_factor_CRSP,df1,how='outer',on=['fdate','PERMNO'])
        else:
            df_factor_CRSP = df1
        print(file+" already merged")

abnormal capital expenditure growth.csv already merged
abnormal profit margin growth.csv already merged
abnormal sales growth.csv already merged
absolute accruals.csv already merged
accrual percentage.csv already merged
accrual volatility.csv already merged
accruals.csv already merged
asset use efficiency.csv already merged
capital expenditure growth.csv already merged
cash dividends.csv already merged
cash flow efficiency.csv already merged
cash flow margin volatility.csv already merged
cash flow margins.csv already merged
cash flow to debt ratio.csv already merged
cash flow to price.csv already merged
cash flow volatility.csv already merged
cash productivity.csv already merged
cash turnover growth.csv already merged
cash turnover.csv already merged
change in cash.csv already merged
change in inventory turnover.csv already merged
change in net operating assets.csv already merged
change in tax expenses.csv already merged
CHS distress.csv already merged
composite equity issuance.csv already merged
convertible debt.csv already merged
corporate investments.csv already merged
current ratio growth.csv already merged
current ratio.csv already merged
cyclically adjusted price to sales.csv already merged
cyclically-adjusted price earnings ratio.csv already merged
cyclically-adjusted price to cash flows.csv already merged
cyclically-adjusted price to free cash flows.csv already merged
debt capacity to firm tangibility.csv already merged
deferred taxes.csv already merged
depreciation rate growth.csv already merged
depreciation rate.csv already merged
dividend yield.csv already merged
efficiency gains.csv already merged
enterprise value to EBITDA.csv already merged
excess cash flow volatility.csv already merged
fiscal book to market.csv already merged
free cash flow efficiency.csv already merged
free cash flows.csv already merged
gross margin growth.csv already merged
gross profitability growth.csv already merged
gross profitability.csv already merged
growth in common stockholder euqity.csv already merged
growth in employee base.csv already merged
growth in returns on assets.csv already merged
growth in selling and general expenses to sales.csv already merged
inventory trunover.csv already merged
inventory turnover growth.csv already merged
investment to assets.csv already merged
leverage expansion.csv already merged
long term growth in capital expenditures.csv already merged
long term leverage.csv already merged
maximum return.csv already merged
momentum acceleration.csv already merged
net operating assets.csv already merged
net stock issuance.csv already merged
operating liabilities leverage.csv already merged
operating profitability.csv already merged
piotroski financial statment score.csv already merged
price earnings ratio.csv already merged
price to book.csv already merged
probability of dividend increase.csv already merged
probability of special dividend.csv already merged
probability of split.csv already merged
probability of stock dicidend.csv already merged
profit margin to price.csv already merged
quick ratio growth.csv already merged
quick ratio.csv already merged
real estate holdings.csv already merged
receivable turnover growth.csv already merged
receivable turnover.csv already merged
research and development expense scaled by sales.csv already merged
research and development growth.csv already merged
research and development scaled by market cap.csv already merged
return on assets.csv already merged
return on equity.csv already merged
revenue surprise.csv already merged
ROA volatility.csv already merged
sales growth.csv already merged
sales to price.csv already merged
seasonality.csv already merged
secured long term debt.csv already merged
short term leverage.csv already merged
taxable income.csv already merged
total assets growth.csv already merged
total liabilities growth.csv already merged
trend factor.csv already merged

In [18]:
df_factor_CRSP['Ticker'] = df_factor_CRSP['PERMNO'].map(dict_PERMNO)
df_factor_CRSP['Date'] = pd.to_datetime(df_factor_CRSP['fdate'])

In [19]:
df_factor_CRSP

,PERMNO,fdate,CAPXAG,PMG,SG,AbsAccrual,Accrualpct,AccrualVol,Accrual,AUE,...,Sale_P,seasonality,SECUDEBT,CR,TAXINC,ATG,LTDG,trend_factor,Ticker,Date
0,10107,2018-01-31,0.233999,0.000284,-3.967680,-0.060746,0.530343,-0.022732,0.060746,0.398162,...,0.135575,0.011960,0.030584,-1.891145,0.702159,-0.190439,-0.121687,-0.025754,MSFT,2018-01-31
1,10138,2018-01-31,0.028179,0.035264,0.123250,-0.192448,-0.833322,-0.090794,-0.192448,0.629912,...,0.169891,0.022196,0.000000,NaN,1.380835,-0.106614,-0.157108,-0.018993,TROW,2018-01-31
2,10145,2018-01-31,0.188886,-0.063524,0.065562,-0.013422,0.144763,-0.004567,0.013422,0.698915,...,0.328335,0.035144,0.000000,-2.151751,0.848409,-0.062852,-0.039641,-0.021846,HON,2018-01-31
3,11403,2018-01-31,0.129762,0.131361,0.193361,-0.128323,1.103906,-0.027305,0.128323,0.828678,...,0.150969,0.082265,0.000000,-1.445488,0.547073,-0.046984,-0.021460,-0.022375,CDNS,2018-01-31
4,11600,2018-01-31,-0.398553,0.046607,0.148219,-0.121220,-1.751199,-0.033973,0.121220,0.348147,...,0.282699,0.038098,0.000000,-1.232211,0.757651,0.076315,-0.031680,-0.018701,XRAY,2018-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23140,93237,2023-11-30,NaN,NaN,NaN,-0.000811,0.001137,-0.854094,-0.000811,NaN,...,NaN,-0.001192,0.000000,-50.125000,NaN,-1.253067,0.233121,NaN,TENX,2023-11-30
23141,93264,2023-11-30,0.926689,0.176334,0.342590,-1.005717,-1.238138,-0.493804,0.972427,0.825055,...,0.279736,-0.015961,0.000000,-0.471206,0.000000,0.488632,-0.891337,0.058386,IRWD,2023-11-30
23142,93312,2023-11-30,0.343772,0.111031,0.036749,-0.035478,0.929055,-0.009628,0.035478,0.335569,...,0.389903,0.011555,0.706400,-0.326473,1.015512,0.018261,0.068936,0.059405,SSNC,2023-11-30
23143,93369,2023-11-30,0.079578,-0.068079,0.187034,-0.056322,-8.230548,-0.050450,0.056322,0.438960,...,0.499004,0.067872,0.948331,-0.369788,NaN,0.012560,0.007176,0.070531,RCM,2023-11-30
23144,93436,2023-11-30,-0.098589,-0.309162,-0.328850,-0.016444,0.130904,-0.043634,0.016444,1.021109,...,0.125687,0.003303,0.412922,-8.030319,0.288081,-0.287930,-0.184493,0.051390,TSLA,2023-11-30

In [20]:
df_factor_CRSP[['Date','Ticker'] + list(df_factor_CRSP.columns[2:94])]

,Date,Ticker,CAPXAG,PMG,SG,AbsAccrual,Accrualpct,AccrualVol,Accrual,AUE,...,ROAVol,SALEG,Sale_P,seasonality,SECUDEBT,CR,TAXINC,ATG,LTDG,trend_factor
0,2018-01-31,MSFT,0.233999,0.000284,-3.967680,-0.060746,0.530343,-0.022732,0.060746,0.398162,...,-0.036592,0.119026,0.135575,0.011960,0.030584,-1.891145,0.702159,-0.190439,-0.121687,-0.025754
1,2018-01-31,TROW,0.028179,0.035264,0.123250,-0.192448,-0.833322,-0.090794,-0.192448,0.629912,...,-0.014940,0.133407,0.169891,0.022196,0.000000,NaN,1.380835,-0.106614,-0.157108,-0.018993
2,2018-01-31,HON,0.188886,-0.063524,0.065562,-0.013422,0.144763,-0.004567,0.013422,0.698915,...,-0.005052,0.032334,0.328335,0.035144,0.000000,-2.151751,0.848409,-0.062852,-0.039641,-0.021846
3,2018-01-31,CDNS,0.129762,0.131361,0.193361,-0.128323,1.103906,-0.027305,0.128323,0.828678,...,-0.020854,0.087800,0.150969,0.082265,0.000000,-1.445488,0.547073,-0.046984,-0.021460,-0.022375
4,2018-01-31,XRAY,-0.398553,0.046607,0.148219,-0.121220,-1.751199,-0.033973,0.121220,0.348147,...,-0.047833,0.057640,0.282699,0.038098,0.000000,-1.232211,0.757651,0.076315,-0.031680,-0.018701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23140,2023-11-30,TENX,NaN,NaN,NaN,-0.000811,0.001137,-0.854094,-0.000811,NaN,...,-1.698992,NaN,NaN,-0.001192,0.000000,-50.125000,NaN,-1.253067,0.233121,NaN
23141,2023-11-30,IRWD,0.926689,0.176334,0.342590,-1.005717,-1.238138,-0.493804,0.972427,0.825055,...,-0.587894,0.046964,0.279736,-0.015961,0.000000,-0.471206,0.000000,0.488632,-0.891337,0.058386
23142,2023-11-30,SSNC,0.343772,0.111031,0.036749,-0.035478,0.929055,-0.009628,0.035478,0.335569,...,-0.007154,0.033989,0.389903,0.011555,0.706400,-0.326473,1.015512,0.018261,0.068936,0.059405
23143,2023-11-30,RCM,0.079578,-0.068079,0.187034,-0.056322,-8.230548,-0.050450,0.056322,0.438960,...,-0.060773,0.156004,0.499004,0.067872,0.948331,-0.369788,NaN,0.012560,0.007176,0.070531
23144,2023-11-30,TSLA,-0.098589,-0.309162,-0.328850,-0.016444,0.130904,-0.043634,0.016444,1.021109,...,-0.080573,0.088375,0.125687,0.003303,0.412922,-8.030319,0.288081,-0.287930,-0.184493,0.051390

In [21]:
df_factor_CRSP = df_factor_CRSP[['Date','Ticker'] + list(df_factor_CRSP.columns[2:94])]
df_factor_CRSP.to_pickle("factor/CRSP/all factors.pkl.zip",compression='zip')

In [2]:
df_factor_CRSP = pd.read_pickle("factor/CRSP/all factors.pkl.zip")

In [22]:
ls_filename = os.listdir("./factor/CRSP/")
ls_variablename = list(df_factor_CRSP.columns[2:])
pd.DataFrame([ls_filename,ls_variablename]).T.rename(columns={0:'File',1:'Factor'}).to_csv("factor/CRSP/0 factor list.csv",index=False)

In [8]:
ls_variablename = list(df_factor_CRSP.columns[2:])

In [3]:
df_factor_CRSP

,Date,Ticker,CAPXAG,PMG,SG,AbsAccrual,Accrualpct,AccrualVol,Accrual,AUE,...,ROAVol,SALEG,Sale_P,seasonality,SECUDEBT,CR,TAXINC,ATG,LTDG,trend_factor
0,2018-01-31,MSFT,0.233999,0.000284,-3.967680,-0.060746,0.530343,-0.022732,0.060746,0.398162,...,-0.036592,0.119026,0.135575,0.011960,0.030584,-1.891145,0.702159,-0.190439,-0.121687,-0.025754
1,2018-01-31,TROW,0.028179,0.035264,0.123250,-0.192448,-0.833322,-0.090794,-0.192448,0.629912,...,-0.014940,0.133407,0.169891,0.022196,0.000000,NaN,1.380835,-0.106614,-0.157108,-0.018993
2,2018-01-31,HON,0.188886,-0.063524,0.065562,-0.013422,0.144763,-0.004567,0.013422,0.698915,...,-0.005052,0.032334,0.328335,0.035144,0.000000,-2.151751,0.848409,-0.062852,-0.039641,-0.021846
3,2018-01-31,CDNS,0.129762,0.131361,0.193361,-0.128323,1.103906,-0.027305,0.128323,0.828678,...,-0.020854,0.087800,0.150969,0.082265,0.000000,-1.445488,0.547073,-0.046984,-0.021460,-0.022375
4,2018-01-31,XRAY,-0.398553,0.046607,0.148219,-0.121220,-1.751199,-0.033973,0.121220,0.348147,...,-0.047833,0.057640,0.282699,0.038098,0.000000,-1.232211,0.757651,0.076315,-0.031680,-0.018701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23140,2023-11-30,TENX,NaN,NaN,NaN,-0.000811,0.001137,-0.854094,-0.000811,NaN,...,-1.698992,NaN,NaN,-0.001192,0.000000,-50.125000,NaN,-1.253067,0.233121,NaN
23141,2023-11-30,IRWD,0.926689,0.176334,0.342590,-1.005717,-1.238138,-0.493804,0.972427,0.825055,...,-0.587894,0.046964,0.279736,-0.015961,0.000000,-0.471206,0.000000,0.488632,-0.891337,0.058386
23142,2023-11-30,SSNC,0.343772,0.111031,0.036749,-0.035478,0.929055,-0.009628,0.035478,0.335569,...,-0.007154,0.033989,0.389903,0.011555,0.706400,-0.326473,1.015512,0.018261,0.068936,0.059405
23143,2023-11-30,RCM,0.079578,-0.068079,0.187034,-0.056322,-8.230548,-0.050450,0.056322,0.438960,...,-0.060773,0.156004,0.499004,0.067872,0.948331,-0.369788,NaN,0.012560,0.007176,0.070531
23144,2023-11-30,TSLA,-0.098589,-0.309162,-0.328850,-0.016444,0.130904,-0.043634,0.016444,1.021109,...,-0.080573,0.088375,0.125687,0.003303,0.412922,-8.030319,0.288081,-0.287930,-0.184493,0.051390

# Stock return

In [5]:
df_return_long = pd.read_pickle("return/stock return(long).pkl.zip")
df_return_long['date'] = pd.to_datetime(df_return_long['date'])
df_return_long['year'] = df_return_long['date'].dt.year
df_return_long['month'] = df_return_long['date'].dt.month

In [6]:
df_factor_CRSP['Date_match'] = df_factor_CRSP['Date'] + pd.Timedelta(days=1)
df_factor_CRSP['year'] = df_factor_CRSP['Date_match'].dt.year
df_factor_CRSP['month'] = df_factor_CRSP['Date_match'].dt.month

# Return with Factor

In [11]:
df_factor_matched = pd.merge(df_return_long,df_factor_CRSP,how='left',left_on=['year','month','Ticker'],right_on=['year','month','Ticker'])
df_factor_matched = df_factor_matched[['date','Ticker','stock return']+ls_variablename]

In [12]:
df_factor_matched

,date,Ticker,stock return,CAPXAG,PMG,SG,AbsAccrual,Accrualpct,AccrualVol,Accrual,...,seasonality,SECUDEBT,CR,TAXINC,ATG,LTDG,trend_factor,Date_match,year,month
0,2019-01-02,AAL,1.1523,0.366239,-0.053777,0.200279,-0.052147,5.417822,-0.034487,0.052147,...,0.031257,1.056683,-0.426416,0.0,-0.004465,-0.098033,0.129402,2019-01-01,2019,1
1,2019-01-03,AAL,-7.4507,0.366239,-0.053777,0.200279,-0.052147,5.417822,-0.034487,0.052147,...,0.031257,1.056683,-0.426416,0.0,-0.004465,-0.098033,0.129402,2019-01-01,2019,1
2,2019-01-04,AAL,6.5868,0.366239,-0.053777,0.200279,-0.052147,5.417822,-0.034487,0.052147,...,0.031257,1.056683,-0.426416,0.0,-0.004465,-0.098033,0.129402,2019-01-01,2019,1
3,2019-01-07,AAL,2.8402,0.366239,-0.053777,0.200279,-0.052147,5.417822,-0.034487,0.052147,...,0.031257,1.056683,-0.426416,0.0,-0.004465,-0.098033,0.129402,2019-01-01,2019,1
4,2019-01-08,AAL,-1.6085,0.366239,-0.053777,0.200279,-0.052147,5.417822,-0.034487,0.052147,...,0.031257,1.056683,-0.426416,0.0,-0.004465,-0.098033,0.129402,2019-01-01,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571587,2023-12-22,ZS,0.1581,0.061047,0.196979,NaN,-0.206390,NaN,-0.029162,0.206390,...,-0.012481,0.000000,-2.457591,NaN,-0.273824,-0.276113,0.051335,2023-12-01,2023,12
571588,2023-12-26,ZS,1.3127,0.061047,0.196979,NaN,-0.206390,NaN,-0.029162,0.206390,...,-0.012481,0.000000,-2.457591,NaN,-0.273824,-0.276113,0.051335,2023-12-01,2023,12
571589,2023-12-27,ZS,0.1915,0.061047,0.196979,NaN,-0.206390,NaN,-0.029162,0.206390,...,-0.012481,0.000000,-2.457591,NaN,-0.273824,-0.276113,0.051335,2023-12-01,2023,12
571590,2023-12-28,ZS,-0.2578,0.061047,0.196979,NaN,-0.206390,NaN,-0.029162,0.206390,...,-0.012481,0.000000,-2.457591,NaN,-0.273824,-0.276113,0.051335,2023-12-01,2023,12
571591,2023-12-29,ZS,-1.2832,0.061047,0.196979,NaN,-0.206390,NaN,-0.029162,0.206390,...,-0.012481,0.000000,-2.457591,NaN,-0.273824,-0.276113,0.051335,2023-12-01,2023,12

In [13]:
df_missing1  = df_factor_matched.isnull().sum().to_frame().reset_index().rename(columns={'index':'Factor',0:'Missing'})
ls_dropna1 = list(df_missing1.query('Missing > 571592*0.3')['Factor'])
df_factor_matched.drop(columns=ls_dropna1,inplace=True)

In [14]:
df_missing1

          Factor  Missing
0           date        0
1         Ticker        0
2   stock return        0
3         CAPXAG   220836
4            PMG   267066
..           ...      ...
93          LTDG   170872
94  trend_factor   340379
95    Date_match   159464
96          year        0
97         month        0

[98 rows x 2 columns]

In [15]:
df_factor_matched1 = df_factor_matched.T
df_missing2 = df_factor_matched1.isnull().sum().to_frame().reset_index()

In [16]:
df_missing2.rename(columns={0:'Missing'},inplace=True)
df_missing2['date'] = df_factor_matched['date']

df_missing2['Ticker'] = df_factor_matched['Ticker']

In [17]:
df_missing2

         index  Missing       date Ticker
0            0        0 2019-01-02    AAL
1            1        0 2019-01-03    AAL
2            2        0 2019-01-04    AAL
3            3        0 2019-01-07    AAL
4            4        0 2019-01-08    AAL
...        ...      ...        ...    ...
571587  571587        0 2023-12-22     ZS
571588  571588        0 2023-12-26     ZS
571589  571589        0 2023-12-27     ZS
571590  571590        0 2023-12-28     ZS
571591  571591        0 2023-12-29     ZS

[571592 rows x 4 columns]

In [18]:
df_try = df_missing2.query('Missing == 0')

In [19]:
df_try['date'].value_counts()

date
2023-10-09    357
2023-10-25    357
2023-11-13    357
2023-11-10    357
2023-11-09    357
             ...
2019-01-17    243
2019-01-18    243
2019-01-22    243
2019-01-23    243
2019-01-02    243
Name: count, Length: 1258, dtype: int64

In [20]:
df_try['Ticker'].value_counts()

Ticker
AAL     1258
NCMI    1258
NVAX    1258
NTNX    1258
NTAP    1258
        ...
WULF     199
WBD      149
CRKN     147
SOUN      83
NXU       43
Name: count, Length: 358, dtype: int64

In [21]:
df_need = df_try['Ticker'].value_counts().to_frame().reset_index()
ls_ticker = list(df_need.query("count == 1258")['Ticker'])

In [22]:
df_need

    Ticker  count
0      AAL   1258
1     NCMI   1258
2     NVAX   1258
3     NTNX   1258
4     NTAP   1258
..     ...    ...
353   WULF    199
354    WBD    149
355   CRKN    147
356   SOUN     83
357    NXU     43

[358 rows x 2 columns]

In [33]:
df_try.query('Ticker in @ls_ticker',inplace=True)

C:\Users\木木小呆猪\AppData\Local\Temp\ipykernel_17008\2778836579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_try.query('Ticker in @ls_ticker',inplace=True)

In [35]:
df_factor_matched.to_pickle("factor/CRSP factor.pkl.zip",compression='zip')
df_try[['date','Ticker']].to_csv("return list.csv",index=False)