In [34]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web

In [3]:
df_return = pd.read_pickle("return/stock return.pkl.zip")
ls_ticker = list(df_return.columns[1:])

# information

In [ ]:
df_info = pd.read_csv("other/Stock Header.csv")
# CRSP / Annual Update / Stock / Security Files / Stock Header Info

In [7]:
df_info.query("HTICK in @ls_ticker",inplace=True)

In [8]:
df_info

,PERMNO,PERMCO,HSHRCD,DLSTCD,HTICK,HCOMNAM,HTSYMBOL,HNAICS,HPRIMEXC,HTRDSTAT,...,NUMDEL,NUMNDI,BEGDAT,ENDDAT,BEGPRC,ENDPRC,BEGRET,ENDRET,BEGVOL,ENDVOL
107,10107,8048,11,100,MSFT,MICROSOFT CORP,MSFT,511210.0,Q,A,...,1,2253,1986-03-13,2023-12-29,1986-03-13,2023-12-29,1986-03-13,2023-12-29,1986-03-13,2023-12-29
138,10138,8087,11,100,TROW,T ROWE PRICE GROUP INC,TROW,523940.0,Q,A,...,1,1711,1986-04-02,2023-12-29,1986-04-02,2023-12-29,1986-04-02,2023-12-29,1986-04-02,2023-12-29
145,10145,22168,11,100,HON,HONEYWELL INTERNATIONAL INC,HON,336412.0,Q,A,...,1,79,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29
1403,11403,9245,11,100,CDNS,CADENCE DESIGN SYSTEMS INC,CDNS,511210.0,Q,A,...,1,884,1987-06-10,2023-12-29,1987-06-10,2023-12-29,1987-06-10,2023-12-29,1987-06-10,2023-12-29
1600,11600,9424,11,100,XRAY,DENTSPLY SIRONA INC,XRAY,339114.0,Q,A,...,1,1678,1987-08-12,2023-12-29,1987-08-12,2023-12-29,1987-08-12,2023-12-29,1987-08-12,2023-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37647,93306,53370,31,100,HTHT,H WORLD GROUP LTD,HTHT,721110.0,Q,A,...,1,533,2010-03-26,2023-12-29,2010-03-26,2023-12-29,2010-03-26,2023-12-29,2010-03-26,2023-12-29
37653,93312,53374,11,100,SSNC,S S & C TECHNOLOGIES HLDGS INC,SSNC,511210.0,Q,A,...,1,520,2010-03-31,2023-12-29,2010-03-31,2023-12-29,2010-03-31,2023-12-29,2010-03-31,2023-12-29
37678,93337,53384,31,100,VEON,VEON LTD,VEON,517112.0,Q,A,...,1,441,2010-04-22,2023-12-29,2010-04-22,2023-12-29,2010-04-22,2023-12-29,2010-04-22,2023-12-29
37710,93369,53403,11,100,RCM,R1 R C M INC NEW,RCM,561110.0,Q,A,...,1,171,2010-05-20,2023-12-29,2010-05-20,2023-12-29,2010-05-20,2023-12-29,2010-05-20,2023-12-29
37775,93436,53453,11,100,TSLA,TESLA INC,TSLA,336110.0,Q,A,...,1,716,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29

In [10]:
df_info.to_csv("Stock List.csv",index=False)

# close price

In [23]:
df_close = pd.read_csv("other/CRSP close price.csv")
# CRSP / Annual Update / Stock - Version 2 (CIZ) /Daily Stock File
df_close.query("Ticker in @ls_ticker",inplace=True)

In [29]:
df_close1 = pd.pivot_table(df_close,index='DlyCalDt',columns='Ticker',values='DlyClose')

In [30]:
df_close1.interpolate(method='linear',inplace=True)
df_close1 = df_close1.fillna(method = 'bfill')

C:\Users\木木小呆猪\AppData\Local\Temp\ipykernel_25204\3955234603.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_close1 = df_close1.fillna(method = 'bfill')

In [ ]:
df_close1.to_pickle("other/close price.pkl.zip",compression='zip')

# high/low price

In [32]:
df_hl = pd.read_csv("other/CRSP high&low price.csv")
# CRSP / Annual Update / Stock - Version 2 (CIZ) /Daily Stock File
df_hl.query("Ticker in @ls_ticker",inplace=True)

In [34]:
df_high = df_hl[['DlyCalDt','Ticker','DlyHigh']]
df_low = df_hl[['DlyCalDt','Ticker','DlyLow']]

In [35]:
df_high1 = pd.pivot_table(df_high,index='DlyCalDt',columns='Ticker',values='DlyHigh')
df_low1 = pd.pivot_table(df_low,index='DlyCalDt',columns='Ticker',values='DlyLow')

In [ ]:
df_high1.interpolate(method='linear',inplace=True)
df_high1 = df_high1.bfill(axis=0)
df_low1.interpolate(method='linear',inplace=True)
df_low1 = df_low1.bfill(axis=0)

In [37]:
df_high1.to_pickle("other/high price.pkl.zip",compression='zip')
df_low1.to_pickle("other/low price.pkl.zip",compression='zip')

# open price

In [39]:
df_open = pd.read_csv("other/CRSP open price.csv")
# CRSP / Annual Update / Stock - Version 2 (CIZ) /Daily Stock File
df_open.query("Ticker in @ls_ticker",inplace=True)

In [41]:
df_open1 = pd.pivot_table(df_open,index='DlyCalDt',columns='Ticker',values='DlyOpen')

In [43]:
df_open1.interpolate(method='linear',inplace=True)
df_open1 = df_open1.bfill(axis=0)

In [44]:
df_open1.to_pickle("other/open price.pkl.zip",compression='zip')

# volume

In [45]:
df_volume = pd.read_csv("other/CRSP volume.csv")
# CRSP / Annual Update / Stock - Version 2 (CIZ) /Daily Stock File
df_volume.query("Ticker in @ls_ticker",inplace=True)

In [48]:
df_volume1 = pd.pivot_table(df_volume,index='DlyCalDt',columns='Ticker',values='DlyVol')

In [49]:
df_volume1.interpolate(method='linear',inplace=True)
df_volume1 = df_volume1.bfill(axis=0)

In [50]:
df_volume1.to_pickle("other/volume.pkl.zip",compression='zip')

# time lage

In [4]:
df_close1.reset_index(inplace=True)

In [12]:
dict_timelag = dict(zip(df_close1['DlyCalDt'][1:],df_close1['DlyCalDt'].shift(1)[1:]))

In [ ]:
df_return = pd.read_pickle("return/alpha.pkl.zip")

In [23]:
df_return['date'] = df_return['date'].astype("str")

In [24]:
df_return['timelag'] = df_return['date'].map(dict_timelag)

In [26]:
df_return['timelag'] = pd.to_datetime(df_return['timelag'])

In [30]:
df_return[['date','Ticker','timelag']].to_pickle("return/stock return(for integration).pkl.zip",compression='zip')

# Rolling OLS prepartion

In [4]:
df_return_list = pd.read_csv("return list.csv")
df_return_rolling = pd.read_csv("other/CRSP return(for rolling OLS).csv")

C:\Users\木木小呆猪\AppData\Local\Temp\ipykernel_1952\1566747559.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_return_rolling = pd.read_csv("other/CRSP return(for rolling OLS).csv")

In [9]:
ls_ticker_ols = list(df_return_list['Ticker'].unique())

In [13]:
df_return_rolling.query("TICKER in @ls_ticker_ols",inplace=True)
df_return_rolling['date'] = pd.to_datetime(df_return_rolling['date'])
df_return_rolling.drop(['PERMNO','HEXCD'],axis = 1,inplace=True)

In [ ]:
df_return_rolling['RET'] = df_return_rolling['RET'].astype("float")
df_return_rolling.query("RET > -70 ",inplace=True)
df_return_rolling1 = pd.pivot_table(df_return_rolling, index = 'date', columns = 'TICKER', values = 'RET') *100

In [40]:
df_null = df_return_rolling1.isnull().sum().to_frame()
df_null.columns = ['missing value']
df_null.reset_index(inplace = True)

In [51]:
df_null.query("`missing value` > 0",inplace = True)

dic_null = dict(zip(df_null['TICKER'],df_null['missing value']))
for key, value in dic_null.items():
    if df_return_rolling1[key][:value+1].isnull().sum() != 0:
        print(key,df_return_rolling1[key][:value+1].isnull().sum())

ASRT 156
CBAT 231
EVRG 106
IDEX 219
OTLK 233
QRTEA 47
SINT 213

In [53]:
df_return_rolling2 = df_return_rolling1.interpolate(method='linear')

In [55]:
df_null = df_return_rolling2.isnull().sum().to_frame()
df_null.columns = ['missing value']
df_null.reset_index(inplace = True)

In [57]:
df_null.query("`missing value` > 0",inplace = True)

In [60]:
df_return_rolling2.to_pickle("other/return(for rolling OLS).pkl.zip",compression='zip')

In [61]:
df_return_rolling2

TICKER,AAL,AAPL,ACAD,ACOR,ACRX,ACST,ADBE,ADI,ADMA,ADP,...,WEN,WKHS,WYNN,XEL,XELA,XRAY,XRX,XXII,Z,ZION
date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,1.8451,1.7905,1.0628,5.5944,1.2346,5.5367,1.4038,1.4040,2.8037,-1.0240,...,-0.6090,7.8125,-2.5446,-0.6236,1.7476,1.9900,0.7547,14.6429,3.8123,-0.2558
2018-01-03,-1.2266,-0.0174,-3.0233,-3.3113,2.4390,0.5025,1.8796,1.2406,-2.7273,1.0863,...,2.3284,2.8985,-1.0834,-0.6693,5.9160,-0.3426,-0.1362,1.5576,1.1535,-0.1183
2018-01-04,0.6305,0.4645,-2.4737,-3.8813,-2.3810,1.0000,1.2042,-0.1094,2.4922,0.9552,...,-1.1377,1.0563,0.5415,-0.7791,-1.0811,-0.0149,1.2274,-4.6012,-1.9549,0.4147
2018-01-05,-0.0380,1.1385,0.4170,11.8765,6.0976,0.0000,1.1571,0.4053,-1.8237,-0.0591,...,1.6959,-3.8327,0.6671,-0.7003,-1.0929,1.4051,0.7410,2.8939,1.1393,0.0393
2018-01-08,-0.9877,-0.3714,-6.1938,-4.8832,-2.2988,-1.9802,-0.1619,0.1745,2.1672,-0.3043,...,-1.0125,6.1594,-1.3314,0.7480,2.3941,0.6781,1.1702,5.6250,0.3520,-0.4914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,-0.2787,-0.5547,6.3686,2.5486,0.7564,2.2321,-0.2316,0.4178,2.6634,0.8647,...,0.3041,-1.3333,-0.3307,0.8614,2.7439,0.0853,-0.3729,-0.5266,0.0681,0.8712
2023-12-26,-1.3976,-0.2841,-0.8758,-7.1288,0.8398,-1.7467,-0.0818,0.8980,2.8302,0.6797,...,0.4042,2.1622,0.6415,0.3062,1.4837,0.9086,0.5882,-3.8115,-0.1871,2.0000
2023-12-27,-0.8505,0.0518,2.0723,-2.8169,-2.8391,35.5556,-0.3644,0.2414,2.9816,-0.3999,...,-1.5098,-0.3704,-0.4066,-0.3052,1.7544,0.2532,0.6911,2.0914,1.3463,-0.8244
2023-12-28,-0.0715,0.2226,-1.2118,5.2174,6.3636,-4.5902,-0.0939,0.4465,0.6682,0.3800,...,-0.2044,-1.7525,1.2468,0.5687,-1.4368,0.2807,-0.5808,3.5040,-1.0425,0.3370
2023-12-29,-1.7167,-0.5424,-0.2390,3.9256,-10.2564,-0.6873,0.1813,-0.8390,0.0000,0.2065,...,-0.2560,-2.7027,-0.7084,0.0323,-2.0408,0.0000,-1.3455,-3.0208,-1.6822,-1.7689